<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/default.min.css">
</head>
<body>
    <div class="container mt-5">
        <h4><%= message %></h4>
        <pre>
            <code><%= stack %></code>
        </pre>
    </div>
    <script src="/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>